body {
    text-align: center;
    background-color: lightcyan;
    font-family: Arial, sans-serif;
    width: 40rem;
    margin: auto;
    margin-top: 0.7rem;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav, footer {
    background-color: cadetblue;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0.4rem;
}

nav a {
    text-decoration: none;
    font-size: large;
}

footer {
    position: fixed;
    bottom: 0;
    width: 40rem;
    margin-bottom: 0.7rem;
}

a:link, a:visited {
    color: black;
}

nav a:hover {
    color: lightcyan;
}

.list {
    border-top: 0.1rem solid cadetblue;
}

table {
    text-align: left;
    line-height: 2rem;
    border-collapse: collapse;
    width: 100%;
}

th {
    width: 40%;
}

.th-grade {
    width: 20%;
}

label {
    width: 13rem;
    float: left;
    text-align: right;
}

input {
    border-radius: 0.2rem;
    border: 0.1rem solid cadetblue;
    margin: 0.4rem;
}

input[type=text] {
    width: 18.5rem;
    height: 1.4rem;
}

.author-options {
    width: 19rem;
    height: 1.7rem;
    margin: 0.4rem;
    border-radius: 0.2rem;
    border: 0.1rem solid cadetblue;
}

.grade-options {
    margin-right: 7rem;
}

input[type=submit] {
    float: right;
    margin-right: 5rem;
    height: 1.5rem;
}

.submit-button {
    border-color: cadetblue;
    color: black;
}

.submit-button:hover {
    background-color: cadetblue;
    color: lightcyan;
}


.delete-button {
    float: right;
    width: 3.5rem;
    padding: 0.1rem;
    border: 0.1rem solid;
    border-color: #E44D4D;
    color: black;

}

.delete-button:hover {
    background-color: #E44D4D;
    color: white;
}
